.videobaground{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 90%;
}
.Registration-Card{
    padding: 15px;
    width: 25%;
   background-color: rgba(192,192,192,0.8);
    margin-top: 10vh;
    display: inline-block;
    z-index: 1;
    color: white;
}
h3{
    text-align: center;
    font-weight: bold;
}
.Registration{
    display: flex;
    justify-content: center;
}
.rb{
    cursor: pointer;
    color: blue;
}