<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
body {background-color: powderblue;padding: 10px;border-radius: 10px}
h1   {color: blue;}
</style>
</head>
<body>
<div class="container">
  <div class="card" style="width:600px">
    <div class="card-body">
      <h4 class="card-title">Hi {{.Firstname}}</h4>
      <p>To confirm your Registration Please click the below link {{.URL}}</p>
    </div>
    <img class="card-img-bottom" src="https://s3-us-west-2.amazonaws.com/ravitejakommalapati.com/picasalogo.png" alt="Card image" style="width:100%">
  </div>
</div>
</body>
</html>
